//全局样式
*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;}
img{vertical-align: middle;}
em,i{font-style:normal;}
b,strong{font-weight:normal;}
h1,h2,h3,h4,h5,h6{font-weight:normal ;}
.top_b,.phone{width:100%};


